div {
    background-color: #eee !important;
    color: black !important;
    font-family: sans-serif;
    margin: auto;
    text-indent: -999999px;
    font-size: 20px !important;
    font-weight: bold;
    width: 400px;
    border: none !important;
    position: relative;
}

div::before {
    content: "Elzero";
    text-indent: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
لجعل اي عنصر في المنتصف بالضبط:
:نعطي العنصر الاب
    position: relative

ونعطي الابن:
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/