div {
    background-color: #eee;
    color: #ff5722;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 20px auto;
    border-radius: 50%;
    box-shadow: 7px 0 #ff5722, -7px 0 #03a9f4;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}