div {
    margin: 20px;
    padding: 20px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-size: 80px;
    text-shadow: red 2px 3px, cornflowerblue 4px 5px, blueviolet 6px 7px;
}