.parent {
    background-color: #eee;
    color: white;
    width: 600px;
    height: 300px;
    margin: auto;
    padding: 10px;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.parent div {
    background-color: #f44336;
    padding: 10px 5px;
    flex-basis: 30%;
}