* {
  box-sizing: border-box;
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

div {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  transform-style: preserve-3d;
}

div::after, div::before {
  width: 100%;
  height: 100%;
  font-size: 28px;
  position: absolute;
  display: grid;
  place-content: center;
}

div::after {
  content: "Front";
  background-color: #fa3664;
  backface-visibility: hidden;
}

div::before {
  content: "Back";
  background-color: #1692fc;
  /* طريقة عرضية */
  /* transform: rotateY(180deg); */
  /* طريقة طولية */
  transform: rotateX(180deg);
}

div:hover {
  /* طريقة عرضية */
  /* transform: translate(-50%, -50%) rotateY(180deg); */
  /* طريقة طولية */
  transform: translate(-50%, -50%) rotateX(180deg);
}
