* {
    box-sizing: border-box;
}

.parent {
    background-color: #eee;
    color: white;
    width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

.parent div {
    padding: 10px;
    width: calc(64%/4);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    background-color: #ff9800;
}

.two {
    background-color: #8bc34a;
    align-self: flex-end;
}

.three {
    background-color: #795548;
}

.four {
    background-color: #673ab7;
    align-self: flex-end;
    order: -1;
}

